$background_color: #eee
$text_color: #252525
$link_color: #691313

/* Element styles */

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 12px
	color: $text_color
	background: $background_color url(../images/tile.jpg) repeat

h1, h2
	font-weight: normal

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color

/* Layout */

header .insides, #mid .insides, #footer .insides
	width: 960px
	padding: 10px 0
	margin: 0 auto
	position: relative

#main
	width: 100%

#mid
	min-height: 400px

#main
	padding-bottom: 50px

#footer
	position: relative
	margin-top: -51px
	height: 50px
	clear: both

#ie6_pwnage
	display: none

/* Theme */

header
	position: relative
	#logo
		height: 43px
		background: transparent url(../images/logo.png) no-repeat 0 0
		padding: 15px 0 0 65px
		font-size: 20px
	#our-story
		position: absolute
		top: 30px
		left: 200px
		font-size: 14px
		font-style: italic