$background_color: #e2e6eb
$text_color: #252525
$link_color: #7c1c1c

$category_color: #d35151
$job_type_color: #5197d3
$payment_type_color: #a451d3
$term_color: #d27442

/* Element styles */

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 12px
	color: $text_color
	background: $background_color url(../images/scratches-tile.png) repeat

h1, h2
	font-weight: normal

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color

/* Layout */

header .insides, #mid .insides, #footer .insides
	width: 960px
	padding: 10px 0
	margin: 0 auto
	position: relative

#main
	width: 100%

#mid
	min-height: 400px

#main
	padding-bottom: 50px

#footer
	position: relative
	margin-top: -51px
	height: 50px
	clear: both

#ie6_pwnage
	display: none

/* Theme */

header
	position: relative
	h1
		margin-bottom: 0
	#logo
		display: inline-block
		height: 43px
		background: transparent url(../images/logo.png) no-repeat 0 0
		padding: 15px 0 0 65px
		font-size: 20px
		color: $text_color
	#our-story
		position: absolute
		top: 30px
		left: 200px
		font-size: 13px
		font-style: italic
		color: #777
	#add-a-job
		position: absolute
		top: 20px
		right: 0
		.price
			font-size: 16px
			color: #7b7b7b
			float: left
			padding-top: 10px
			margin-right: 10px
		a
			display: block
			padding: 0 12px
			float: left
			height: 41px
			width: 98px
			line-height: 38px
			text-align: center
			-webkit-border-radius: 10px
			-moz-border-radius: 10px
			border-radius: 10px
			background: transparent url(../images/add-a-job.png) no-repeat
			color: #fff
			font-size: 16px
			text-shadow: 0 -1px 1px #000

#category-chooser
	float: left
	margin: 65px 30px 0 0
	li
		width: 127px
		height: 30px
		margin: 0 0 5px
	a
		display: block
		color: $text_color
		font-size: 16px
		padding: 5px 0 5px 8px
	a.active
		width: 127px
		height: 20px
		background: transparent url(../images/current-category.png) no-repeat
		color: #fff
	.missing a
		margin-top: 20px
		color: #aaa

#filters
	position: absolute
	top: 73px
	left: 18px
	width: 140px
	text-shadow: 0 1px 1px #fff
	font-size: 14px
	
	h3
		color: #858585
		padding: 0 0 10px 8px
		font-weight: normal

	label
		display: block
		height: 31px
		margin-bottom: 9px
		padding: 0 0 0 30px
		font-size: 13px
		line-height: 30px
		font-weight: bold
		cursor: pointer
		background-repeat: no-repeat
		background-position: 0 -31px
	.category, .job_type, .payment_type
		margin-bottom: 30px
	.category label
		background-image: url(../images/red-filter-bg.png)
	.job_type label
		background-image: url(../images/blue-filter-bg.png)
	.payment_type label
		background-image: url(../images/purple-filter-bg.png)
	label.checked
		background-position: 0 0
	.term
		width: 400px
		float: left
		color: $text_color
		background: transparent url(../images/arrow.png) no-repeat 164px 24px
		.value
			color: #d27442
		.min, .max
			width: 160px
			float: left
			text-align: center
		.min
			margin-right: 30px
		.ui-slider
			margin-top: 10px
			width: 160px

#jobs-list
	position: relative
	width: 795px
	height: 805px
	margin-right: 20px
	float: right
	background: transparent url(../images/pad.png) no-repeat
	header
		padding: 10px
		height: 39px
		h3
			font-size: 15px
			font-weight: normal
			font-style: italic
			color: #a7918a
			text-shadow: 0 -1px 1px #3a251e
			margin: 7px 0 0 10px
			float: left
		#search
			width: 201px
			height: 31px
			background: transparent url(../images/search-input.png) no-repeat
			margin: 2px 0 0 0
			position: relative
			float: right
			input[type="text"]
				background-color: transparent
				border: none
				width: 158px
				height: 23px
				padding: 4px 28px 4px 15px
				color: #eddad4
				text-shadow: 0 -1px 1px #3a251e
			input[type="submit"]
				background: transparent url(../images/search-submit.png) no-repeat 1px -22px
				border: none
				text-indent: -9999px
				position: absolute
				top: 7px
				right: 7px
				width: 21px
				height: 21px
				cursor: pointer
			input[type="submit"].clear
				background-position: 2px -2px
	
	.category
		color: $category_color
	.job_type
		color: $job_type_color
	.payment_type
		color: $payment_type_color
	.term	
		color: $term_color
	
	ul#jobs
		margin: 20px 0 0 5px
		width: 784px
		background: transparent url(../images/lines.png) repeat 0 0
		height: 653px
		li
			a
				background: transparent url(../images/highlighter.png) no-repeat 0 -100px
				color: $text_color
				padding: 11px 10px 3px 0
				display: block
				clear: both
				height: 25px
				margin-bottom: 1px
			a:hover
				background-position: 0 3px
			.new, .title, .company, .tags, .date
				float: left
				overflow: hidden
				height: 20px
			.new, .company, .tags, .date
				padding-top: 2px
			.new
				width: 53px
				padding-right: 15px
				text-align: center
			.title	
				width: 230px
				padding-right: 10px
				font-size: 14px
				font-weight: bold
			.company
				width: 150px
			.tags
				width: 260px
				text-transform: lowercase
				div
					float: left
					height: 20px
				.category
					width: 83px
				.job_type
					width: 65px
				.payment_type
					width: 47px
		li.no-results
			font-weight: bold
			text-align: center
			padding: 13px 0 0
	#spinner
		position: absolute
		top: 250px
		left: 0
		display: none
		width: 795px
		height: 19px
		background: transparent url(../images/loading.gif) no-repeat 50% 0
	#pencil
		position: absolute
		display: block
		width: 34px
		height: 361px
		bottom: 10px
		right: -40px
		background: transparent url(../images/pencil.png) no-repeat 0 0

/* Create a job form */

#create-a-job
	position: relative
	#posting-preview
		display: none
		width: 300px
		padding: 10px
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		background-color: #fff
		border: 1px solid #ddd
		position: absolute
		right: 0
		top: 45px
		h3
			border-bottom: 1px dotted #ddd
			padding-bottom: 5px
			margin-bottom: 5px

form
	h3
		font-size: 18px
		padding-bottom: 5px
		border-bottom: 1px solid #ccc
		margin-bottom: 20px
	fieldset.inputs
		margin-bottom: 30px
		background-color: rgba(0,0,0,0.05)
		padding: 20px
		text-shadow: 0 1px 1px #fff
	li
		display: block
		clear: both
		min-height: 30px
		margin-bottom: 20px
	legend
		height: 1em
	label, legend.label
		width: 80px
		float: left
		padding: 2px 10px 0 0
		font-size: 14px
		height: 30px
		line-height: 30px
		font-weight: bold
		text-shadow: 0 1px 1px #fff
		abbr[title="required"]
			display: none
	input[type="text"], input[type="url"], input[type="email"], input[type="tel"]
		padding: 6px
		font-size: 13px
		float: left
		background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to (#fff))
	input[type="text"]:focus, textarea:focus
		outline: none
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
		box-shadow: 0 0 12px rgba(51, 204, 255, 0.5)
	select
		margin-top: 8px
	li.radio
		margin-bottom: 10px
		float: left
		clear: none
		margin-right: 120px
		fieldset
			margin-bottom: 0
			background: none
			padding: 0
		legend
			display: block
			float: none
			padding-bottom: 5px
		ol
			float: left
			padding-top: 3px
			li
				margin-bottom: 5px
				label
					min-width: 150px
					text-align: left
					font-weight: normal
					padding-left: 5px
					border: 1px solid transparent
					cursor: pointer
				label.selected
					background-color: #f5f1d4
					-webkit-border-radius: 5px
					-moz-border-radius: 5px
					border-radius: 5px
					border: 1px solid #ced1ad
	.ui-slider
		border: 1px solid #aaa
	.slider
		width: 200px
		float: left
		margin: 12px 0 0 8px
		.ui-slider-handle
			border: 1px solid #e38181
		.ui-state-hover, .ui-state-focus
			background: #f2c6c6
		.ui-state-active
			background: #e68f8f
	.slider-value
		float: left
		padding: 7px 0 0 15px
		font-weight: bold
		font-size: 1.1em
	.inline-hints, .inline-errors
		float: left
		margin: 0 0 0 10px
		color: #777
		height: 28px
		line-height: 30px
		padding-top: 2px
	.textarea
		label
			float: none
		a
			font-size: 0.9em
			margin-left: 15px
		textarea
			display: block
			width: 550px
			height: 150px
	fieldset.buttons
		input[type="submit"]
			float: right
			display: block
			padding: 0 12px
			width: 132px
			height: 41px
			line-height: 41px
			text-align: center
			border: none
			background: transparent url(../images/post-job-button.png) no-repeat
			color: #fff
			font-size: 16px
			text-shadow: 0 -1px 1px #000
			cursor: pointer
			text-indent: -9999px
		input[type="submit"]:active
			margin-top: 1px
	#job_posting_title_input input
		width: 250px
	#job_posting_description_input
		float: left
		clear: none
		margin-right: 10px
	#description-formatting-help
		float: left
		padding-top: 30px
		width: 350px
		h3
			font-size: 1em
			color: $link_color
			margin-bottom: 2px
			border: none
		.italic
			font-style: italic
		.bold
			font-weight: bold
		table
			background-color: #ccc
			padding: 8px
			-webkit-border-radius: 5px
			-moz-border-radius: 5px
			border-radius: 5px
			tr
				height: 20px
			th
				border-bottom: 1px dotted #999
			th, td
				width: 125px
				text-align: left
			td.list ul
				list-style-type: disc
			td.list ol, td.list ol li
				list-style: decimal
			li
				margin-bottom: 0
				min-height: 0
	#job_posting_company_name_input, #job_posting_company_url_input
		float: left
		clear: none
		width: 460px
		input[type="text"], input[type="url"], input[type="email"]
			width: 392px
	#job_posting_hiring_criteria_input, #job_posting_how_to_apply_input
		float: left
		clear: none
		width: 460px
		textarea
			width: 400px
			height: 100px
	.personal-info, .credit-card-info
		float: left
		width: 460px
		input[type="text"]
			width: 250px
	.explanation
		margin-top: 40px
		width: 400px
		h3
			font-size: 1.2em
			margin-bottom: 5px
			border-bottom: 1px dotted #ccc
			color: $link_color
		p
			margin-top: 0
			
/* Errors */
#error-explanation
	background-color: #F5D4D4
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	padding: 10px
	color: #280909
	margin-bottom: 10px
	h3
		font-size: 18px
		border-bottom: 1px dotted #280909
		margin-bottom: 5px
		padding-bottom: 5px
	li
		padding: 3px 0
form
	li.error
		input[type="text"], textarea
			background-color: #f5d4d4
			border: 1px solid #c02d2d
	.inline-errors
		display: none

/* Show a job */
.job-details
	text-shadow: 0 1px 1px #fff
	h1
		font-size: 2.5em
		padding-bottom: 5px
		border-bottom: 1px solid #ccc
		margin-bottom: 20px
	.secondary
		position: relative
		.company
			font-size: 1.5em
			font-weight: bold
			color: $link_color
			padding-right: 10px
			float: left
			width: 700px
		.date
			position: absolute
			top: 15px
			left: 760px
			font-style: italic
			font-size: 1.2em
	.sidebar
		float: right
		width: 200px
		padding-top: 35px
		.tags
			li
				float: left
				clear: both
				font-size: 1.1em
				margin: 0 20px 10px 0
				text-transform: lowercase
				-webkit-border-radius: 8px
				-moz-border-radius: 8px
				border-radius: 8px
				padding: 4px 8px
				text-shadow: 0 -1px 1px #777
				color: #fff
				a
					color: #fff
			.category
				background-color: $category_color
			.job_type
				background-color: $job_type_color
			.payment_type
				background-color: $payment_type_color
			.term
				background-color: $term_color
		.actions
			clear: left
			padding-top: 30px
			li
				float: left
				font-size: 1.2em
				margin-bottom: 15px
				a
					padding-left: 25px
			.email
				background: transparent url(../images/mail.png) no-repeat 0 50%
			.tweet
				background: transparent url(../images/bird.png) no-repeat 0 50%
	.text
		padding-top: 10px
		float: left
		width: 700px
		h3
			font-weight: bold
			font-size: 1.2em
			border-bottom: 1px dotted #ccc
			padding-bottom: 5px
			margin-bottom: 5px

.back
	margin-bottom: 20px
.back:before
	content: "←"
	padding-right: 5px

#footer
	.insides
		text-align: center
		color: #999