$background_color: #eee
$text_color: #252525
$link_color: #7c1c1c

/* Element styles */

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 12px
	color: $text_color
	background: $background_color url(../images/tile.jpg) repeat

h1, h2
	font-weight: normal

p
	line-height: 1.8em
	margin: 20px 0

a, a:visited
	color: $link_color

/* Layout */

header .insides, #mid .insides, #footer .insides
	width: 960px
	padding: 10px 0
	margin: 0 auto
	position: relative

#main
	width: 100%

#mid
	min-height: 400px

#main
	padding-bottom: 50px

#footer
	position: relative
	margin-top: -51px
	height: 50px
	clear: both

#ie6_pwnage
	display: none

/* Theme */

header
	position: relative
	h1
		margin-bottom: 0
	#logo
		display: inline-block
		height: 43px
		background: transparent url(../images/logo.png) no-repeat 0 0
		padding: 15px 0 0 65px
		font-size: 20px
		color: $text_color
	#our-story
		position: absolute
		top: 30px
		left: 200px
		font-size: 14px
		font-style: italic
	#add-a-job
		position: absolute
		top: 20px
		right: 0
		.price
			font-size: 16px
			font-weight: bold
			color: #7b7b7b
			float: left
			padding-top: 10px
			margin-right: 10px
		a
			display: block
			padding: 0 12px
			float: left
			height: 41px
			width: 98px
			line-height: 38px
			text-align: center
			-webkit-border-radius: 10px
			-moz-border-radius: 10px
			border-radius: 10px
			background: transparent url(../images/add-a-job.png) no-repeat
			color: #fff
			font-size: 16px
			text-shadow: 0 -1px 1px #000

#category-chooser
	float: left
	margin: 65px 30px 0 0
	li
		width: 127px
		height: 30px
		margin: 0 0 5px
	a
		display: block
		color: $text_color
		font-size: 16px
		padding: 5px 0 5px 8px
	a.active
		width: 127px
		height: 20px
		background: transparent url(../images/current-category.png) no-repeat
		color: #fff

#jobs-list
	width: 795px
	height: 805px
	float: right
	background: transparent url(../images/pad.png) no-repeat
	header
		padding: 10px
		height: 39px
		h3
			font-size: 15px
			font-weight: normal
			font-style: italic
			color: #a7918a
			text-shadow: 0 -1px 1px #3a251e
			margin: 7px 0 0 10px
			float: left
		.search
			width: 201px
			height: 31px
			background: transparent url(../images/search-input.png) no-repeat
			margin: 2px 0 0 0
			position: relative
			float: right
			input[type="text"]
				background-color: transparent
				border: none
				width: 158px
				height: 23px
				padding: 4px 28px 4px 15px
				color: #eddad4
				text-shadow: 0 -1px 1px #3a251e
			input[type="submit"]
				background: transparent url(../images/search-submit.png) no-repeat
				border: none
				text-indent: -9999px
				position: absolute
				top: 9px
				right: 10px
				width: 17px
				height: 15px
				cursor: pointer
	
	.job_type
		color: #5197d3
	.payment_type	
		color: #a451d3
	.term	
		color: #d27442
	
	.filter
		height: 50px
		padding: 10px 10px 10px 80px
		
		li
			display: block
			height: 20px
			margin-bottom: 5px
			label
				text-transform: lowercase
				padding: 2px 0 3px 24px
				line-height: 17px
				cursor: pointer
			label.checked
				background-position: 0 0
			input[type="checkbox"]
				padding: 0
				margin: 0
				height: 16px
				width: 16px
				float: left
				position: absolute
				left: 0
				opacity: 0
		
		.job_type
			float: left
			width: 100px
			margin-right: 50px
			label
				background: transparent url(../images/blue-checkbox.png) no-repeat 0 -17px
		.payment_type
			float: left
			width: 120px
			margin-right: 30px
			label
				background: transparent url(../images/purple-checkbox.png) no-repeat 0 -17px
		.term
			width: 400px
			float: left
			color: $text_color
			background: transparent url(../images/arrow.png) no-repeat 164px 24px
			.value
				color: #d27442
			.min, .max
				width: 160px
				float: left
				text-align: center
			.min
				margin-right: 30px
			.ui-slider
				margin-top: 10px
				width: 160px
	ul.jobs
		margin-left: 5px
		width: 785px
		li
			a
				background: transparent url(../images/paper-line.png) no-repeat 0 -53px
				color: $text_color
				padding: 11px 10px 3px 0
				display: block
				clear: both
				height: 23px
				margin-bottom: 1px
			a:hover
				background-position: 0 -7px
			.new, .title, .company, .tags, .date
				float: left
				overflow: hidden
				height: 20px
			.new, .company, .tags, .date
				padding-top: 2px
			.new
				width: 53px
				padding-right: 5px
				text-align: center
			.title	
				width: 300px
				font-size: 14px
				font-weight: bold
			.company
				width: 150px
			.tags
				width: 190px
				div
					float: left
					height: 20px
				.job_type
					width: 61px
				.payment_type
					width: 47px

#footer
	.insides
		padding-left: 120px
		text-align: center
		color: #999