html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #252525;
  background: #eeeeee url(../images/linen.jpg) repeat; }

h1, h2 {
  font-weight: normal; }

h2 {
  font-size: 22px;
  text-shadow: 0 1px 1px white; }

p {
  line-height: 1.8em;
  margin: 20px 0; }

a, a:visited {
  color: #691313; }
