/* Element styles */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #252525;
  background: #eeeeee url(../images/tile.jpg) repeat; }

h1, h2 {
  font-weight: normal; }

p {
  line-height: 1.8em;
  margin: 20px 0; }

a, a:visited {
  color: #7c1c1c; }

/* Layout */
header .insides, #mid .insides, #footer .insides {
  width: 960px;
  padding: 10px 0;
  margin: 0 auto;
  position: relative; }

#main {
  width: 100%; }

#mid {
  min-height: 400px; }

#main {
  padding-bottom: 50px; }

#footer {
  position: relative;
  margin-top: -51px;
  height: 50px;
  clear: both; }

#ie6_pwnage {
  display: none; }

/* Theme */
header {
  position: relative; }
  header h1 {
    margin-bottom: 0; }
  header #logo {
    display: inline-block;
    height: 43px;
    background: transparent url(../images/logo.png) no-repeat 0 0;
    padding: 15px 0 0 65px;
    font-size: 20px;
    color: #252525; }
  header #our-story {
    position: absolute;
    top: 30px;
    left: 200px;
    font-size: 13px;
    font-style: italic;
    color: #777777; }
  header #add-a-job {
    position: absolute;
    top: 20px;
    right: 0; }
    header #add-a-job .price {
      font-size: 16px;
      font-weight: bold;
      color: #7b7b7b;
      float: left;
      padding-top: 10px;
      margin-right: 10px; }
    header #add-a-job a {
      display: block;
      padding: 0 12px;
      float: left;
      height: 41px;
      width: 98px;
      line-height: 38px;
      text-align: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: transparent url(../images/add-a-job.png) no-repeat;
      color: white;
      font-size: 16px;
      text-shadow: 0 -1px 1px black; }

#category-chooser {
  float: left;
  margin: 65px 30px 0 0; }
  #category-chooser li {
    width: 127px;
    height: 30px;
    margin: 0 0 5px; }
  #category-chooser a {
    display: block;
    color: #252525;
    font-size: 16px;
    padding: 5px 0 5px 8px; }
  #category-chooser a.active {
    width: 127px;
    height: 20px;
    background: transparent url(../images/current-category.png) no-repeat;
    color: white; }
  #category-chooser .missing a {
    margin-top: 20px;
    color: #aaaaaa; }

#jobs-list {
  width: 795px;
  height: 805px;
  float: right;
  background: transparent url(../images/pad.png) no-repeat; }
  #jobs-list header {
    padding: 10px;
    height: 39px; }
    #jobs-list header h3 {
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
      color: #a7918a;
      text-shadow: 0 -1px 1px #3a251e;
      margin: 7px 0 0 10px;
      float: left; }
    #jobs-list header .search {
      width: 201px;
      height: 31px;
      background: transparent url(../images/search-input.png) no-repeat;
      margin: 2px 0 0 0;
      position: relative;
      float: right; }
      #jobs-list header .search input[type="text"] {
        background-color: transparent;
        border: none;
        width: 158px;
        height: 23px;
        padding: 4px 28px 4px 15px;
        color: #eddad4;
        text-shadow: 0 -1px 1px #3a251e; }
      #jobs-list header .search input[type="submit"] {
        background: transparent url(../images/search-submit.png) no-repeat;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 9px;
        right: 10px;
        width: 17px;
        height: 15px;
        cursor: pointer; }
  #jobs-list .job_type {
    color: #5197d3; }
  #jobs-list .payment_type {
    color: #a451d3; }
  #jobs-list .term {
    color: #d27442; }
  #jobs-list .filter {
    height: 50px;
    padding: 10px 10px 10px 80px; }
    #jobs-list .filter li {
      display: block;
      height: 20px;
      margin-bottom: 5px; }
      #jobs-list .filter li label {
        text-transform: lowercase;
        padding: 2px 0 3px 24px;
        line-height: 17px;
        cursor: pointer; }
      #jobs-list .filter li label.checked {
        background-position: 0 0; }
      #jobs-list .filter li input[type="checkbox"] {
        padding: 0;
        margin: 0;
        height: 16px;
        width: 16px;
        float: left;
        position: absolute;
        left: 0;
        opacity: 0; }
    #jobs-list .filter .job_type {
      float: left;
      width: 100px;
      margin-right: 50px; }
      #jobs-list .filter .job_type label {
        background: transparent url(../images/blue-checkbox.png) no-repeat 0 -17px; }
    #jobs-list .filter .payment_type {
      float: left;
      width: 120px;
      margin-right: 30px; }
      #jobs-list .filter .payment_type label {
        background: transparent url(../images/purple-checkbox.png) no-repeat 0 -17px; }
    #jobs-list .filter .term {
      width: 400px;
      float: left;
      color: #252525;
      background: transparent url(../images/arrow.png) no-repeat 164px 24px; }
      #jobs-list .filter .term .value {
        color: #d27442; }
      #jobs-list .filter .term .min, #jobs-list .filter .term .max {
        width: 160px;
        float: left;
        text-align: center; }
      #jobs-list .filter .term .min {
        margin-right: 30px; }
      #jobs-list .filter .term .ui-slider {
        margin-top: 10px;
        width: 160px; }
  #jobs-list ul.jobs {
    margin-left: 5px;
    width: 784px;
    background: transparent url(../images/paper-line.png) no-repeat 0 -73px;
    height: 653px; }
    #jobs-list ul.jobs li a {
      background: transparent url(../images/paper-line.png) no-repeat 0 33px;
      color: #252525;
      padding: 11px 10px 3px 0;
      display: block;
      clear: both;
      height: 25px;
      margin-bottom: 1px; }
    #jobs-list ul.jobs li a:hover {
      background-position: 0 -36px; }
    #jobs-list ul.jobs li .new, #jobs-list ul.jobs li .title, #jobs-list ul.jobs li .company, #jobs-list ul.jobs li .tags, #jobs-list ul.jobs li .date {
      float: left;
      overflow: hidden;
      height: 20px; }
    #jobs-list ul.jobs li .new, #jobs-list ul.jobs li .company, #jobs-list ul.jobs li .tags, #jobs-list ul.jobs li .date {
      padding-top: 2px; }
    #jobs-list ul.jobs li .new {
      width: 53px;
      padding-right: 5px;
      text-align: center; }
    #jobs-list ul.jobs li .title {
      width: 250px;
      font-size: 14px;
      font-weight: bold; }
    #jobs-list ul.jobs li .company {
      width: 150px; }
    #jobs-list ul.jobs li .tags {
      width: 260px;
      text-transform: lowercase; }
      #jobs-list ul.jobs li .tags div {
        float: left;
        height: 20px; }
      #jobs-list ul.jobs li .tags .category {
        width: 83px; }
      #jobs-list ul.jobs li .tags .job_type {
        width: 65px; }
      #jobs-list ul.jobs li .tags .payment_type {
        width: 47px; }

/* Create a job form */
#create-a-job {
  position: relative; }
  #create-a-job #posting-preview {
    display: none;
    width: 300px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dddddd;
    position: absolute;
    right: 0;
    top: 45px; }
    #create-a-job #posting-preview h3 {
      border-bottom: 1px dotted #dddddd;
      padding-bottom: 5px;
      margin-bottom: 5px; }

form h3 {
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px; }
form fieldset.inputs {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  text-shadow: 0 1px 1px white; }
form li {
  display: block;
  clear: both;
  min-height: 30px;
  margin-bottom: 20px; }
form legend {
  height: 1em; }
form label, form legend.label {
  width: 80px;
  float: left;
  padding: 2px 10px 0 0;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-shadow: 0 1px 1px white; }
form input[type="text"] {
  padding: 6px;
  font-size: 13px;
  float: left; }
form li.radio {
  margin-bottom: 10px;
  float: left;
  clear: none;
  margin-right: 120px; }
  form li.radio fieldset {
    margin-bottom: 0;
    background: none;
    padding: 0; }
  form li.radio legend {
    display: block;
    float: none;
    padding-bottom: 5px; }
  form li.radio ol {
    float: left;
    padding-top: 3px; }
    form li.radio ol li {
      margin-bottom: 5px; }
      form li.radio ol li label {
        min-width: 150px;
        text-align: left;
        font-weight: normal;
        padding-left: 5px;
        border: 1px solid transparent;
        cursor: pointer; }
      form li.radio ol li label.selected {
        background-color: #d4eef5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #c6e0f2; }
form .ui-slider {
  border: 1px solid #aaaaaa; }
form .slider {
  width: 200px;
  float: left;
  margin: 10px 0 0 8px; }
  form .slider .ui-slider-handle {
    border: 1px solid #e38181; }
  form .slider .ui-state-hover, form .slider .ui-state-focus {
    background: #f2c6c6; }
  form .slider .ui-state-active {
    background: #e68f8f; }
form .slider-value {
  float: left;
  padding: 7px 0 0 15px;
  font-weight: bold;
  font-size: 1.1em; }
form .inline-hints, form .inline-errors {
  float: left;
  margin: 0 0 0 10px;
  color: #777777;
  height: 28px;
  line-height: 30px;
  padding-top: 2px; }
form .textarea label {
  float: none; }
form .textarea a {
  font-size: 0.9em;
  margin-left: 15px; }
form .textarea textarea {
  display: block;
  width: 550px;
  height: 150px; }
form fieldset.buttons input[type="submit"] {
  float: right;
  display: block;
  padding: 0 12px;
  width: 132px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  border: none;
  background: transparent url(../images/post-job-button.png) no-repeat;
  color: white;
  font-size: 16px;
  text-shadow: 0 -1px 1px black;
  cursor: pointer;
  text-indent: -9999px; }
form fieldset.buttons input[type="submit"]:active {
  margin-top: 1px; }
form #job_posting_title_input input {
  width: 250px; }
form #job_posting_description_input {
  float: left;
  clear: none;
  margin-right: 10px; }
form #description-formatting-help {
  float: left;
  padding-top: 30px;
  width: 200px; }
  form #description-formatting-help h3 {
    font-size: 1em;
    border-bottom: 1px dotted #cccccc;
    color: #7c1c1c;
    margin-bottom: 5px; }
  form #description-formatting-help .italic {
    font-style: italic; }
  form #description-formatting-help .bold {
    font-weight: bold; }
  form #description-formatting-help table tr {
    height: 20px; }
  form #description-formatting-help table td {
    padding-right: 20px; }
  form #description-formatting-help table td.list ul {
    list-style-type: disc; }
  form #description-formatting-help table td.list ol, form #description-formatting-help table td.list ol li {
    list-style: decimal; }
  form #description-formatting-help table li {
    margin-bottom: 0;
    min-height: 0; }
form #job_posting_company_name_input, form #job_posting_company_url_input {
  float: left;
  clear: none;
  width: 460px; }
  form #job_posting_company_name_input input[type="text"], form #job_posting_company_url_input input[type="text"] {
    width: 392px; }
form #job_posting_hiring_criteria_input, form #job_posting_how_to_apply_input {
  float: left;
  clear: none;
  width: 460px; }
  form #job_posting_hiring_criteria_input textarea, form #job_posting_how_to_apply_input textarea {
    width: 400px;
    height: 100px; }
form .personal-info, form .credit-card-info {
  float: left;
  width: 460px; }
  form .personal-info input[type="text"], form .credit-card-info input[type="text"] {
    width: 250px; }
form .explanation {
  margin-top: 40px; }
  form .explanation h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    border-bottom: 1px dotted #cccccc;
    color: #7c1c1c; }
  form .explanation p {
    margin-top: 0; }

/* Errors */
#error-explanation {
  background-color: #f5d4d4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #280909;
  margin-bottom: 10px; }
  #error-explanation h3 {
    font-size: 18px;
    border-bottom: 1px dotted #280909;
    margin-bottom: 5px;
    padding-bottom: 5px; }
  #error-explanation li {
    padding: 3px 0; }

form li.error input[type="text"], form li.error textarea {
  background-color: #f5d4d4;
  border: 1px solid #c02d2d; }
form .inline-errors {
  display: none; }

#footer .insides {
  padding-left: 120px;
  text-align: center;
  color: #999999; }
