/* Element styles */
html, body {
  font-family: "adelle-1", "adelle-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #252525;
  background: #e2e6eb url(../images/scratches-tile.png) repeat; }

h1, h2 {
  font-weight: normal; }

h1 {
  font-size: 20px; }

p {
  line-height: 1.8em;
  margin: 20px 0; }

a, a:visited {
  color: #7c1c1c; }

/* Layout */
header .insides, #mid .insides, #footer .insides {
  width: 960px;
  padding: 10px 0;
  margin: 0 auto;
  position: relative; }

#main {
  width: 100%; }

#mid {
  min-height: 400px; }

#main {
  padding-bottom: 50px; }

#footer {
  position: relative;
  margin-top: -51px;
  height: 50px;
  clear: both; }

#ie6_pwnage {
  display: none; }

/* Theme */
header {
  position: relative; }
  header h1 {
    margin-bottom: 0; }
  header #logo {
    display: inline-block;
    height: 43px;
    background: transparent url(../images/logo.png) no-repeat 0 0;
    padding: 15px 0 0 65px;
    font-size: 20px;
    color: #252525; }
  header #our-story {
    position: absolute;
    top: 30px;
    left: 200px;
    font-size: 13px;
    font-style: italic;
    color: #777777; }
  header #add-a-job {
    position: absolute;
    top: 20px;
    right: 0; }
    header #add-a-job .price {
      font-size: 16px;
      color: #7b7b7b;
      float: left;
      padding-top: 10px;
      margin-right: 10px; }
    header #add-a-job a {
      display: block;
      padding: 2px 12px 0 12px;
      float: left;
      height: 41px;
      width: 98px;
      line-height: 38px;
      text-align: center;
      background: transparent url(../images/add-a-job.png) no-repeat;
      color: white;
      font-size: 16px;
      text-shadow: 0 -1px 1px black; }

#category-chooser {
  float: left;
  margin: 65px 30px 0 0; }
  #category-chooser li {
    width: 127px;
    height: 30px;
    margin: 0 0 5px; }
  #category-chooser a {
    display: block;
    color: #252525;
    font-size: 16px;
    padding: 5px 0 5px 8px; }
  #category-chooser a.active {
    width: 127px;
    height: 20px;
    background: transparent url(../images/current-category.png) no-repeat;
    color: white; }
  #category-chooser .missing a {
    margin-top: 20px;
    color: #aaaaaa; }

#filters {
  position: absolute;
  top: 73px;
  left: 18px;
  width: 140px;
  text-shadow: 0 1px 1px white;
  font-size: 14px; }
  #filters h3 {
    color: #858585;
    padding: 0 0 10px 8px;
    font-weight: normal; }
  #filters label {
    display: block;
    height: 31px;
    margin-bottom: 9px;
    padding: 2px 0 0 30px;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 -38px; }
  #filters .category, #filters .job_type, #filters .payment_type {
    margin-bottom: 30px; }
  #filters .category label {
    background-image: url(../images/red-filter-bg.png); }
  #filters .job_type label {
    background-image: url(../images/blue-filter-bg.png); }
  #filters .payment_type label {
    background-image: url(../images/purple-filter-bg.png); }
  #filters label.checked {
    background-position: 0 0; }
  #filters .term {
    width: 400px;
    float: left;
    color: #252525;
    background: transparent url(../images/arrow.png) no-repeat 164px 24px; }
    #filters .term .value {
      color: #d27442; }
    #filters .term .min, #filters .term .max {
      width: 160px;
      float: left;
      text-align: center; }
    #filters .term .min {
      margin-right: 30px; }
    #filters .term .ui-slider {
      margin-top: 10px;
      width: 160px; }

#jobs-list {
  position: relative;
  width: 795px;
  height: 805px;
  margin-right: 20px;
  float: right;
  background: transparent url(../images/pad.png) no-repeat; }
  #jobs-list header {
    padding: 10px;
    height: 39px; }
    #jobs-list header h3 {
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
      color: #a7918a;
      text-shadow: 0 -1px 1px #3a251e;
      margin: 7px 0 0 10px;
      float: left; }
    #jobs-list header #search {
      width: 201px;
      height: 31px;
      background: transparent url(../images/search-input.png) no-repeat;
      margin: 2px 0 0 0;
      position: relative;
      float: right; }
      #jobs-list header #search input[type="text"] {
        background-color: transparent;
        border: none;
        width: 158px;
        height: 23px;
        padding: 4px 28px 4px 15px;
        color: #eddad4;
        text-shadow: 0 -1px 1px #3a251e; }
      #jobs-list header #search input[type="text"]:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
      #jobs-list header #search input[type="submit"] {
        background: transparent url(../images/search-submit.png) no-repeat 1px -22px;
        border: none;
        text-indent: -9999px;
        position: absolute;
        top: 7px;
        right: 7px;
        width: 21px;
        height: 21px;
        cursor: pointer; }
      #jobs-list header #search input[type="submit"].clear {
        background-position: 2px -2px; }
  #jobs-list .category {
    color: #d35151; }
  #jobs-list .job_type {
    color: #5197d3; }
  #jobs-list .payment_type {
    color: #a451d3; }
  #jobs-list .term {
    color: #d27442; }
  #jobs-list ul#jobs {
    margin: 20px 0 0 5px;
    width: 784px;
    background: transparent url(../images/lines.png) repeat 0 0;
    height: 685px; }
    #jobs-list ul#jobs li a {
      background: transparent url(../images/highlighter.png) no-repeat 0 -100px;
      color: #252525;
      padding: 12px 10px 2px 0;
      display: block;
      clear: both;
      height: 25px;
      margin-bottom: 1px; }
    #jobs-list ul#jobs li a:hover {
      background-position: 0 3px; }
    #jobs-list ul#jobs li .new, #jobs-list ul#jobs li .title, #jobs-list ul#jobs li .company, #jobs-list ul#jobs li .tags, #jobs-list ul#jobs li .date {
      float: left;
      overflow: hidden;
      height: 20px; }
    #jobs-list ul#jobs li .new, #jobs-list ul#jobs li .company, #jobs-list ul#jobs li .tags, #jobs-list ul#jobs li .date {
      padding-top: 2px; }
    #jobs-list ul#jobs li .new {
      width: 53px;
      padding-right: 15px;
      text-align: center; }
    #jobs-list ul#jobs li .title {
      width: 230px;
      padding-top: 2px;
      padding-right: 10px;
      font-size: 14px;
      font-weight: bold; }
    #jobs-list ul#jobs li .company {
      width: 150px; }
    #jobs-list ul#jobs li .tags {
      width: 260px;
      text-transform: lowercase; }
      #jobs-list ul#jobs li .tags div {
        float: left;
        height: 20px; }
      #jobs-list ul#jobs li .tags .category {
        width: 83px; }
      #jobs-list ul#jobs li .tags .job_type {
        width: 65px; }
      #jobs-list ul#jobs li .tags .payment_type {
        width: 47px; }
    #jobs-list ul#jobs li.no-results {
      font-weight: bold;
      text-align: center;
      padding: 13px 0 0; }
  #jobs-list #spinner {
    position: absolute;
    top: 250px;
    left: 0;
    display: none;
    width: 795px;
    height: 19px;
    background: transparent url(../images/loading.gif) no-repeat 50% 0; }
  #jobs-list #pencil {
    position: absolute;
    display: block;
    width: 34px;
    height: 361px;
    bottom: 10px;
    right: -40px;
    background: transparent url(../images/pencil.png) no-repeat 0 0; }

/* Create a job form */
#create-a-job {
  position: relative; }
  #create-a-job #posting-preview {
    display: none;
    width: 300px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dddddd;
    position: absolute;
    right: 0;
    top: 45px; }
    #create-a-job #posting-preview h3 {
      border-bottom: 1px dotted #dddddd;
      padding-bottom: 5px;
      margin-bottom: 5px; }

form h3 {
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px; }
form fieldset.inputs {
  margin-bottom: 30px;
  background-color: #d9dde1;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  text-shadow: 0 1px 1px white; }
form li {
  display: block;
  clear: both;
  min-height: 30px;
  margin-bottom: 20px; }
form legend {
  height: 1em; }
form label, form legend.label {
  width: 80px;
  float: left;
  padding: 2px 10px 0 0;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-shadow: 0 1px 1px white; }
  form label abbr[title="required"], form legend.label abbr[title="required"] {
    display: none; }
form .full-width-label label {
  width: auto; }
form input[type="text"], form input[type="url"], form input[type="email"], form input[type="tel"] {
  padding: 6px;
  font-size: 13px;
  float: left;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999999), to white); }
form input[type="text"]:focus, form input[type="email"]:focus, form input[type="phone"]:focus, form input[type="tel"]:focus, form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  -moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  box-shadow: 0 0 12px rgba(51, 204, 255, 0.5); }
form select {
  margin-top: 8px; }
form li.radio {
  margin-bottom: 10px;
  float: left;
  clear: none;
  margin-right: 120px; }
  form li.radio fieldset {
    margin-bottom: 0;
    background: none;
    padding: 0; }
  form li.radio legend {
    display: block;
    float: none;
    padding-bottom: 5px; }
  form li.radio ol {
    float: left;
    padding-top: 3px; }
    form li.radio ol li {
      margin-bottom: 5px; }
      form li.radio ol li label {
        min-width: 150px;
        text-align: left;
        font-weight: normal;
        padding-left: 5px;
        border: 1px solid transparent;
        cursor: pointer; }
      form li.radio ol li label.selected {
        background-color: #f5f1d4;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #ced1ad; }
form .ui-slider {
  border: 1px solid #aaaaaa; }
form .slider {
  width: 200px;
  float: left;
  margin: 12px 0 0 8px; }
  form .slider .ui-slider-handle {
    border: 1px solid #e38181; }
  form .slider .ui-state-hover, form .slider .ui-state-focus {
    background: #f2c6c6; }
  form .slider .ui-state-active {
    background: #e68f8f; }
form .slider-value {
  float: left;
  padding: 7px 0 0 15px;
  font-weight: bold;
  font-size: 1.1em; }
form .inline-hints, form .inline-errors {
  float: left;
  margin: 0 0 0 10px;
  color: #777777;
  height: 28px;
  line-height: 30px;
  padding-top: 2px; }
form .textarea label {
  float: none; }
form .textarea a {
  font-size: 0.9em;
  margin-left: 15px; }
form .textarea textarea {
  display: block;
  width: 550px;
  height: 150px; }
form fieldset.buttons, form .coupon-info {
  position: static; }
  form fieldset.buttons input[type="submit"], form fieldset.buttons a.remove, form .coupon-info input[type="submit"], form .coupon-info a.remove {
    float: right;
    display: block;
    padding-top: 2px;
    height: 41px;
    width: 125px;
    line-height: 38px;
    text-align: center;
    background: transparent url(../images/add-a-job.png) no-repeat;
    color: white;
    font-size: 16px;
    text-shadow: 0 -1px 1px black;
    border: none;
    cursor: pointer; }
  form fieldset.buttons input[type="submit"]:active, form fieldset.buttons a.remove:active, form .coupon-info input[type="submit"]:active, form .coupon-info a.remove:active {
    margin-top: 1px; }
  form fieldset.buttons a.remove, form .coupon-info a.remove {
    float: left; }
  form fieldset.buttons .save-job, form .coupon-info .save-job {
    clear: none; }
form .coupon-info {
  height: 60px; }
  form .coupon-info label {
    width: auto; }
  form .coupon-info li {
    float: left;
    clear: none; }
  form .coupon-info input[type="text"] {
    width: 350px; }
  form .coupon-info input[type="submit"] {
    float: left;
    margin: -3px 0 0 20px; }
form .or-separator {
  border-top: 1px dashed #aaaaaa;
  margin: 15px 0 40px 40px;
  position: relative; }
  form .or-separator span {
    position: absolute;
    top: -0.7em;
    left: -40px;
    font-size: 1.5em;
    font-weight: bold;
    color: #555555; }
form #job_posting_title_input input {
  width: 250px; }
form #job_posting_description_input {
  float: left;
  clear: none;
  margin-right: 10px; }
form #description-formatting-help {
  float: left;
  padding-top: 30px;
  width: 350px; }
  form #description-formatting-help h3 {
    font-size: 1em;
    color: #7c1c1c;
    margin-bottom: 2px;
    border: none; }
  form #description-formatting-help .italic {
    font-style: italic; }
  form #description-formatting-help .bold {
    font-weight: bold; }
  form #description-formatting-help table {
    background-color: #cccccc;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    form #description-formatting-help table tr {
      height: 20px; }
    form #description-formatting-help table th {
      border-bottom: 1px dotted #999999; }
    form #description-formatting-help table th, form #description-formatting-help table td {
      width: 125px;
      text-align: left; }
    form #description-formatting-help table td.list ul {
      list-style-type: disc; }
    form #description-formatting-help table td.list ol, form #description-formatting-help table td.list ol li {
      list-style: decimal; }
    form #description-formatting-help table li {
      margin-bottom: 0;
      min-height: 0; }
form #job_posting_company_name_input, form #job_posting_company_url_input {
  float: left;
  clear: none;
  width: 460px; }
  form #job_posting_company_name_input input[type="text"], form #job_posting_company_name_input input[type="url"], form #job_posting_company_name_input input[type="email"], form #job_posting_company_url_input input[type="text"], form #job_posting_company_url_input input[type="url"], form #job_posting_company_url_input input[type="email"] {
    width: 392px; }
form #job_posting_hiring_criteria_input, form #job_posting_how_to_apply_input {
  float: left;
  clear: none;
  width: 460px; }
  form #job_posting_hiring_criteria_input textarea, form #job_posting_how_to_apply_input textarea {
    width: 400px;
    height: 100px; }
form #job_posting_email_address {
  width: 250px; }
form .personal-info, form .credit-card-info {
  float: left;
  width: 460px; }
  form .personal-info input[type="text"], form .personal-info input[type="email"], form .credit-card-info input[type="text"], form .credit-card-info input[type="email"] {
    width: 250px; }
form .explanation {
  margin-top: 40px;
  width: 400px; }
  form .explanation h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    border-bottom: 1px dotted #cccccc;
    color: #7c1c1c; }
  form .explanation p {
    margin-top: 0; }

/* Errors */
#error-explanation {
  background-color: #f5d4d4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #280909;
  margin-bottom: 10px; }
  #error-explanation h3 {
    font-size: 18px;
    border-bottom: 1px dotted #280909;
    margin-bottom: 5px;
    padding-bottom: 5px; }
  #error-explanation li {
    padding: 3px 0; }

form li.error input[type="text"], form li.error input[type="email"], form li.error input[type="tel"], form li.error textarea, form li.error select {
  background-color: #f5d4d4;
  border: 1px solid #c02d2d; }
form .inline-errors {
  display: none; }

/* Show a job */
.job-details {
  text-shadow: 0 1px 1px white; }
  .job-details h1 {
    font-size: 2.5em;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px; }
  .job-details .secondary {
    position: relative; }
    .job-details .secondary .company {
      font-size: 1.5em;
      font-weight: bold;
      color: #7c1c1c;
      padding-right: 10px;
      float: left;
      width: 700px; }
    .job-details .secondary .date {
      position: absolute;
      top: 15px;
      left: 760px;
      font-style: italic;
      font-size: 1.2em; }
  .job-details .sidebar {
    float: right;
    width: 200px;
    padding-top: 35px; }
    .job-details .sidebar .tags li {
      float: left;
      clear: both;
      font-size: 1.1em;
      margin: 0 20px 10px 0;
      text-transform: lowercase;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      padding: 6px 8px 2px;
      text-shadow: 0 -1px 1px #777777;
      color: white; }
      .job-details .sidebar .tags li a {
        color: white; }
    .job-details .sidebar .tags .category {
      background-color: #d35151; }
    .job-details .sidebar .tags .job_type {
      background-color: #5197d3; }
    .job-details .sidebar .tags .payment_type {
      background-color: #a451d3; }
    .job-details .sidebar .tags .term {
      background-color: #d27442; }
    .job-details .sidebar .actions {
      clear: left;
      padding-top: 30px; }
      .job-details .sidebar .actions li {
        float: left;
        font-size: 1.2em;
        margin-bottom: 15px; }
        .job-details .sidebar .actions li a {
          padding-left: 25px; }
      .job-details .sidebar .actions .email {
        background: transparent url(../images/mail.png) no-repeat 0 50%; }
      .job-details .sidebar .actions .tweet {
        background: transparent url(../images/bird.png) no-repeat 0 50%; }
  .job-details .text {
    padding-top: 10px;
    float: left;
    width: 700px; }
    .job-details .text h3 {
      font-weight: bold;
      font-size: 1.2em;
      border-bottom: 1px dotted #cccccc;
      padding-bottom: 5px;
      margin-bottom: 5px; }

.back {
  margin-bottom: 20px; }

.back:before {
  content: "←";
  padding-right: 5px; }

#footer .insides {
  text-align: center;
  color: #999999; }
  #footer .insides .links {
    margin-top: 10px; }
    #footer .insides .links a {
      margin: 0 5px; }

.privacy h1, .refunds h1 {
  margin-top: 20px; }

.important {
  background-color: #f5d4d4;
  padding: 8px;
  font-size: 1.3em;
  -webkit-border-radius: 5px;
  margin: 10px 0; }

.edit-link {
  margin: 10px 0;
  font-size: 1.1em; }

.strong {
  font-weight: bold; }

.hidden {
  display: none; }
