%html
  %head
    %meta{:content =>"text/html; charset=UTF-8", :http_equiv => "Content-Type"}
  %body
    %p
      Thank you so much for posting a job!
    %p
      %strong Your job, #{@title}, is now published at #{@show_url}
      %div If you ever need to edit it you can use this secret link: #{@edit_url}
    %p
      Sincerely,
    %p
      David Browning &amp; Evan Light
    %p
      remote-jobs.com