%html
  %head
    %meta{:content =>"text/html; charset=UTF-8", :http_equiv => "Content-Type"}
  %body
    %p
      Your job posting for 
      = @title
      was successfully processed and should now be listed on remote.jobs!
    %p 
      Retain this link: 
      = @url
    %p
      To edit or remote this job posting, just click the link!
    %p
      Thanks you for your business.  We sincerely hope that you find someone who suits your needs.
    %p
      Sincerely,
    %p
      David Browning &amp; Evan Light
    %p
      remote.jobs

