%html
  %head
    %meta{:content =>"text/html; charset=UTF-8", :http_equiv => "Content-Type"}
  %body
    %p
      Your job posting for 
      = @title
      was created.
    %p
      %strong We need your payment information before it's published.
      %div 
        You can publish it here: 
        = @url
    %p
      Sincerely,
    %p
      David Browning &amp; Evan Light
    %p
      remote.jobs

