.privacy
  = link_to("Back to the jobs!", root_path)

  %h1 Privacy Policy

  %p
    The information we collect about you is your name, email address, phone number, credit card and associated physical address.
    This is used for billing purposes only and will not be shared with anyone else.  We do not store your credit card information.

  %p
    If you have any questions feel free to contact us at #{mail_to "help@remote.jobs", "help@remote.jobs"}