.refunds
  = link_to("Back to the jobs!", root_path)

  %h1 Refunds

  %p.strong
    We created this site after seeing a need in the remote freelancing community.  Being remote freelancers ourselves, we realized
    the need for a site devoted to remote workers and companies looking to find them.
    
  %p
    Our goal is to help bring the best jobs and best freelancers to one place.  If you post a job and are not happy with the results,
    request a full refund within 30 days of your post expiration.

  %p
    If you have any questions feel free to contact us at #{mail_to "help@remote.jobs", "help@remote.jobs"}
  
  %p
    Sincerely,
    %br
    David Browning &amp; Evan Light