.story
  %h1 Why did we create Remote Jobs?

  .text
    %p
      Being remote workers ourselves, we wanted an easier way to find remote work.
    %p
      As a solution, Evan started the Hacker News post #{link_to("Ask HN: Who Is Hiring Remote Workers?", "http://news.ycombinator.com/item?id=1857051")}
      and 210 up-votes and 85 comments later, we realized others had the same need.

    %p
      Given the community need, and our passion for building new sites, we decided to launch Remote Jobs.

  .images
    .image
      = image_tag("/images/evan.jpg")
      %div Evan
    .image
      = image_tag("/images/david.jpg")
      %div David