#description-formatting-help
  %h3 Formatting your text
  %table
    %thead
      %tr
        %th To get this effect
        %th Do this to your text
    %tbody
      %tr
        %td.italic Italic text
        %td _Italic text_
      %tr
        %td.bold Bold text
        %td __Bold text__
      %tr
        %td bulleted list
        %td * item
      %tr
        %td numbered list
        %td 1. item